table {
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
    border: 1px solid #ddd;
  }
  th, td {
    padding: 8px;
  }
  .edit-input {
    width: 90%;
  }
  #add-new {
    margin-bottom: 10px;
  }