<!DOCTYPE html>
<html lang="hu">
<head>
  <script src="/assets/js/admin/auth.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/adminStyles/admin.css">
  <link rel="stylesheet" href="/assets/css/adminStyles/account.css">
  <title>Felhasználók kezelése</title>
</head>
<body>

  <!-- Navigációs Sáv -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #ccffcc;">
    <div class="container-fluid">
      <!-- Logó Mainpagehez navigálás -->
      <a class="navbar-brand" href="/view/customer/mainpage.html"> 
        <img src="/Layout/design images/pizza_logo.png" alt="Pizza Logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn text-black rounded-pill px-4 adminPanelButtons" href="account.html"><b>Fiók</b></a>
          </li>
          <li class="nav-item">
            <a class="btn text-black rounded-pill px-4 adminPanelButtons" href="coupon.html"><b>Kupon</b></a>
          </li>
          <li class="nav-item">
            <a class="btn text-black rounded-pill px-4 adminPanelButtons" href="menu.html"><b>Menü</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Keresés és Új rekord hozzáadás -->
    <h1 class="text-center mb-4 display-6 fw-bold">Felhasználók kezelése</h1>
    
    <div class="search-wrapper">
      <div class="input-group shadow-sm">
        <input type="text" id="search" class="form-control" placeholder="🔍 Keresés a felhasználók között...">
      </div>
    </div>

<!-- Tábla -->
<div class="custom-table-container">
  <table id="accountsTable" class="custom-table">
    <thead>
      <tr>
        <th>Vezetéknév</th>
        <th>Keresztnév</th>
        <th>Felhasználónév</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Létrehozva</th>
        <th>Zárolt</th>
        <th>Letiltva</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ide jönnek a sorok dinamikusan -->
    </tbody>
  </table>
</div><br><br><br><br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/admin/account.js"></script>

</body>
</html>
