<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/merged/assets/css/Cart.css">
    <title>Kosár</title>
</head>

<body>
    
    <div id="layout-container"></div>

    <!-- Tartalom -->
    <section class="cart-section">
        <div class="cart-items">
            <h2>Termékek</h2>
            <div id="cart-list">
                <!-- Itt fognak megjelenni a kosár tételei -->
            </div>
        </div>

        <div class="cart-summary">
            <h2>Kupon és Összegzés</h2>
            <input type="text" placeholder="Kupon kód:">
            <button class="apply-coupon btn">Kupon beváltása</button>
            <p>Teljes összeg: <span id="total-price">0 Ft</span></p>
            <p>Kedvezmény: <span>0 Ft</span></p>
            <div class="d-flex flex-column">
            <a class="continue-shopping button btn">Vásárlás folytatása</a>
            <a class="checkout button btn">Tovább a Fizetéshez</a>
        </div>
        </div>
    </section>
    
    <script src="/merged/Layout/Layout.js"></script>
    <script src="/merged/assets/js/cart.js"></script>

</body>
<footer>
    <p>&copy; 2025 Pizzabázis</p>
</footer>

</html>