<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/resetpassword.css">
  <title>Jelszó visszaállítás</title>
</head>
<body>
  <div id="layout-container"></div>
  <section class="login-section">
    <div class="password-form">
      <div id="resetMessage" class="message"></div>
      <input type="password" id="password" placeholder="Új jelszó" required>
      <input type="password" id="confirm_password" placeholder="Új jelszó újra" required>
      <button id="resetSubmit">Jelszó mentése</button>
    </div>
    <img src="/Layout/design images/pizza-image.png" alt="Pizza" class="pizza-image">
  </section>
  <script src="/Layout/Layout.js"></script>
  <script src="/assets/js/resetpassword.js"></script>
</body>
</html>
