<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/User.css">
    <title>Fiók</title>
</head>
<body>
    <div id="popup-notification" class="popup-notification"></div>
    <div id="layout-container"></div>

    <section class="account-section">
        <div class="account-details">
            <h2>Fiók adatok</h2>
            <div class="input-group">
                <input type="text" id="lastname" name="lastname" placeholder="Vezetéknév">
            </div>
            <div class="input-group">
                <input type="text" id="firstname" name="firstname" placeholder="Keresztnév">
            </div>
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="Felhasználónév">
            </div>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="e-mail cím">
            </div>
            <div class="input-group">
                <input type="tel" id="phonenumber" name="phonenumber" placeholder="Telefonszám">
            </div>

            <div class="password-change">
                <h3>Jelszó módosítás</h3>
                <div class="input-group">
                    <input type="password" id="current-password" name="current-password" placeholder="Jelenlegi jelszó">
                </div>
                <div class="input-group">
                    <input type="password" id="new-password" name="new-password" placeholder="Új jelszó">
                </div>
            </div>

            <div class="account-buttons">
                <button type="button" class="save-button">Mentés</button>
            </div>
        </div>
        <div>
            <img src="/Layout/design images/pizza-image.png" alt="Pizza" class="pizza-image">
        </div>
    </section>

    <script src="/Layout/Layout.js"></script>
    <script src="/assets/js/user.js"></script>
</body>
<footer>
    <p>&copy; 2025 Pizzabázis</p>
</footer>
</html>
